body{
    display: flex;
}

#bloco1{
    background-color: rgb(217, 232, 243);
    width: 1100px;
    height: 300px;
    border-radius: 10px;
    margin: 5px;
   
}

#bloco2{
    background-color: rgb(217, 232, 243);
    width: 400px;
    height: 300px;
    border-radius: 10px;
    margin: 5px;
     
}

