
.flex{
display: flex;
gap: 20px;

}


.bloco1{
    background-color: rgb(217, 232, 243);
    width: 1200px;
    height: 300px;
    border-radius: 10px;
    margin: 5px;

    
}
 
.bloco2{
    background-color: rgb(217, 232, 243);
    width: 600px;
    height: 300px;
    border-radius: 10px;
    margin: 5px;

    
}

#robo{
width: 300px;
}

#texto{
    justify-content: center;
}